# requirements.in
openai
cohere
transformers
numpy
pandas
pypdf
fastapi

langchain-core
langchain
langgraph
langchain-community
langchain-openai
langchain-cohere
langchain-huggingface
langchain-groq
langchain-mistralai
langchain-deepseek-official

pytest
pytest-cov

black
flake8
isort
mypy
doit
